# A Macroscopically Estimating Model with Endogeneity Considered for Lane-mean Speeds and Speed Deviations (5lanes)

## 1 Structuring Data

### 1.1 Import Data

In [1]:
import numpy as np
import pandas as pd
import xlrd
from linearmodels import IV3SLS
import datetime
import math
import os
from dateutil.relativedelta import * # for incement of month

In [2]:
# filelist = []
# file_dir = 'G:\\Modeling Endogeneity\\Data'

# for root, dirs, files in os.walk(file_dir):
#     filelist = files

# file_200m_2lanes = [file for file in filelist if '200m_2lanes' in file]

In [232]:
data_up_fs = pd.DataFrame()
data_do_fs = pd.DataFrame()
data_up_o = pd.DataFrame()
data_up_tftp = pd.DataFrame()
data_up_vmtvht = pd.DataFrame()

# 12 for the number of month
for num in range(12): # 400m_5lanes lacks of the data of Dec.
    monnum = num + 1
    # flow,speed
    file_up_fs = 'G:\\Modeling Endogeneity\\Data\\100m_5lanes_up_fs_' + str(monnum) + '.xlsx'
    file_do_fs = 'G:\\Modeling Endogeneity\\Data\\100m_5lanes_do_fs_' + str(monnum) + '.xlsx'
    # occupancy
    file_up_o = 'G:\\Modeling Endogeneity\\Data\\100m_5lanes_up_o_' + str(monnum) + '.xlsx'
    file_do_o = 'G:\\Modeling Endogeneity\\Data\\100m_5lanes_do_o_' + str(monnum) + '.xlsx'
    # truck flow, truck percentage
    file_up_tftp = 'G:\\Modeling Endogeneity\\Data\\100m_5lanes_up_tftp_' + str(monnum) + '.xlsx'
    # file_do_tftp = 'G:\\Modeling Endogeneity\\Data\\200m_2lanes_do_tftp_1.xlsx'
    # truck vmt, trauck vht
    file_up_vmtvht = 'G:\\Modeling Endogeneity\\Data\\100m_5lanes_up_vmtvht_' + str(monnum) + '.xlsx'
    # file_do_vmtvht = 'G:\\Modeling Endogeneity\\Data\\200m_2lanes_do_vmtvht_1.xlsx'

    data_up_fs_t = pd.read_excel(file_up_fs)
    data_do_fs_t = pd.read_excel(file_do_fs)
    data_up_o_t = pd.read_excel(file_up_o)
    # data_do_o = pd.read_excel(file_do_o)
    data_up_tftp_t = pd.read_excel(file_up_tftp)
    # data_do_tftp = pd.read_excel(file_do_tftp)
    data_up_vmtvht_t = pd.read_excel(file_up_vmtvht)
    # data_do_vmtvht = pd.read_excel(file_do_vmtvht)
    data_up_fs = data_up_fs.append(data_up_fs_t, sort=True)
    data_do_fs = data_do_fs.append(data_do_fs_t, sort=True)
    data_up_o = data_up_o.append(data_up_o_t, sort=True)
    data_up_tftp = data_up_tftp.append(data_up_tftp_t, sort=True)
    data_up_vmtvht = data_up_vmtvht.append(data_up_vmtvht_t, sort=True)

In [233]:
data_up_vmtvht.head() # this command lane is used to observe the order of variables in the dataframe for changing the keyword easier.

,# Lane Points,% Observed,5 Minutes,Lane 1 Truck VHT (Veh-Hours),Lane 1 Truck VMT (Veh-Miles),Lane 2 Truck VHT (Veh-Hours),Lane 2 Truck VMT (Veh-Miles),Lane 3 Truck VHT (Veh-Hours),Lane 3 Truck VMT (Veh-Miles),Lane 4 Truck VHT (Veh-Hours),Lane 4 Truck VMT (Veh-Miles),Lane 5 Truck VHT (Veh-Hours),Lane 5 Truck VMT (Veh-Miles),Truck VHT (Veh-Hours),Truck VMT (Veh-Miles)
0,5,100,1/08/2017 0:00,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,100,1/08/2017 0:05,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.1
2,5,100,1/08/2017 0:10,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,100,1/08/2017 0:15,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,100,1/08/2017 0:20,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [234]:
data_do_fs.describe()

,# Lane Points,% Observed,Flow (Veh/5 Minutes),Lane 1 Flow (Veh/5 Minutes),Lane 1 Speed (mph),Lane 2 Flow (Veh/5 Minutes),Lane 2 Speed (mph),Lane 3 Flow (Veh/5 Minutes),Lane 3 Speed (mph),Lane 4 Flow (Veh/5 Minutes),Lane 4 Speed (mph),Lane 5 Flow (Veh/5 Minutes),Lane 5 Speed (mph),Speed (mph)
count,24179.000000,24179.0,24179.000000,24179.000000,24179.000000,24179.000000,24179.000000,24179.000000,24179.000000,24179.000000,24179.000000,24179.000000,24179.000000,24179.000000
mean,4.999793,0.0,359.217379,67.730014,69.087973,90.274329,64.464498,78.672443,59.649225,67.840647,57.016001,54.699946,58.017933,61.827607
std,0.032155,0.0,141.529025,29.766053,6.670015,34.878243,7.790116,29.860368,8.218472,26.792307,7.184518,20.417197,5.739252,7.166473
min,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,0.0,259.000000,46.000000,67.900000,65.000000,63.100000,57.000000,58.200000,49.000000,55.700000,41.000000,57.000000,60.600000
50%,5.000000,0.0,408.000000,78.000000,71.200000,102.000000,66.900000,89.000000,62.200000,77.000000,59.300000,62.000000,59.800000,64.200000
75%,5.000000,0.0,469.000000,91.000000,73.600000,117.000000,69.700000,102.000000,65.200000,89.000000,61.800000,70.000000,61.900000,66.500000
max,5.000000,0.0,629.000000,139.000000,80.000000,157.000000,76.500000,135.000000,71.600000,124.000000,68.400000,95.000000,66.900000,72.900000

In [235]:
# Caution: use dataframe.head() to observe the name and the position of every column
data_up = data_up_fs
data_up = data_up.iloc[:,2:15]
data_up.columns = ['t','f','f1','s1','f2','s2','f3','s3','f4','s4','f5','s5','s']
data_up[['o1','o2','o3','o4','o5']] = data_up_o.iloc[:,[3,4,5,6,7]]
data_up[['tf1','tp1','tf2','tp2','tf3','tp3','tf4','tp4','tf5','tp5']] = data_up_tftp.iloc[:,[3,4,5,6,7,8,9,10,11,12]]
data_up[['vht1','vmt1','vht2','vmt2','vht3','vmt3','vht4','vmt4','vht5','vmt5']] = data_up_vmtvht.iloc[:,[3,4,5,6,7,8,9,10,11,12]]
# if data_up and data_do have different numbers of raws, here may be an erro
# in November, upstream lacks the record of 7/09/2017 6:05, while downstream has.So the record in downstream is deleted
data_up[['s_do1','s_do2','s_do3','s_do4','s_do5']] = data_do_fs.iloc[:,[5,7,9,11,13]]
data_up = data_up.reset_index(drop=True)

In [236]:
data_up.head()

,t,f,f1,s1,f2,s2,f3,s3,f4,s4,...,vmt3,vht4,vmt4,vht5,vmt5,s_do1,s_do2,s_do3,s_do4,s_do5
0,1/08/2017 0:00,286,31,76.5,97,71.3,86,71.0,63,72.7,...,0.0,0.0,0.0,0.0,0.0,74.5,70.7,66.3,62.9,62.4
1,1/08/2017 0:05,232,28,78.4,84,69.2,72,73.7,46,73.3,...,0.0,0.0,0.0,0.0,0.1,74.6,70.8,66.2,62.8,62.6
2,1/08/2017 0:10,223,25,79.1,85,67.8,60,74.5,51,73.9,...,0.0,0.0,0.0,0.0,0.0,74.9,71.2,66.7,63.2,62.8
3,1/08/2017 0:15,314,37,79.8,92,63.1,85,70.1,80,71.6,...,0.0,0.0,0.0,0.0,0.0,73.8,69.9,65.4,62.0,62.1
4,1/08/2017 0:20,321,36,79.8,90,59.0,91,70.8,83,69.2,...,0.0,0.0,0.0,0.0,0.0,73.9,70.1,65.6,62.2,62.2

###  1.2 Delete Outlier

In [237]:
data_up['t'] = pd.to_datetime(data_up['t'])
data = pd.DataFrame()
for month in range(12):
    
    for day in range(7): # There are 7 days data in each month
        # Select the data in the same day
        begin = data_up['t'][0] + datetime.timedelta(days=day) + relativedelta(months=month)
        end = data_up['t'][0] + datetime.timedelta(days=day+1) + relativedelta(months=month)
        interval = (data_up['t']>begin) & (data_up['t']<end)
        data_up_t = data_up[interval]

        # Computing Interquantile Range (IQR)
        upper_q_s1 = data_up_t['s1'].quantile(0.75)
        lower_q_s1 = data_up_t['s1'].quantile(0.25)
        IQR_s1 = upper_q_s1 - lower_q_s1
        upper_q_s2 = data_up_t['s2'].quantile(0.75)
        lower_q_s2 = data_up_t['s2'].quantile(0.25)
        IQR_s2 = upper_q_s2 - lower_q_s2
        upper_q_s3 = data_up_t['s3'].quantile(0.75)
        lower_q_s3 = data_up_t['s3'].quantile(0.25)
        IQR_s3 = upper_q_s3 - lower_q_s3
        upper_q_s4 = data_up_t['s4'].quantile(0.75)
        lower_q_s4 = data_up_t['s4'].quantile(0.25)
        IQR_s4 = upper_q_s4 - lower_q_s4
        upper_q_s5 = data_up_t['s5'].quantile(0.75)
        lower_q_s5 = data_up_t['s5'].quantile(0.25)
        IQR_s5 = upper_q_s5 - lower_q_s5
        
        # Delecting the records which are outlier in s1,s2,s3 and s4
        data_up_t = data_up_t[((lower_q_s1-1.5*IQR_s1) <= data_up_t['s1'])& (data_up_t['s1'] <= (upper_q_s1+1.5*IQR_s1))]
        data_up_t = data_up_t[((lower_q_s2-1.5*IQR_s2) <= data_up_t['s2'])& (data_up_t['s2'] <= (upper_q_s2+1.5*IQR_s2))]
        data_up_t = data_up_t[((lower_q_s3-1.5*IQR_s3) <= data_up_t['s3'])& (data_up_t['s3'] <= (upper_q_s3+1.5*IQR_s3))]
        data_up_t = data_up_t[((lower_q_s4-1.5*IQR_s4) <= data_up_t['s4'])& (data_up_t['s4'] <= (upper_q_s4+1.5*IQR_s4))]
        data_up_t = data_up_t[((lower_q_s5-1.5*IQR_s5) <= data_up_t['s5'])& (data_up_t['s5'] <= (upper_q_s5+1.5*IQR_s5))]

        data = data.append(data_up_t, sort = True)
        
data_up = data
data_up.describe()

,f,f1,f2,f3,f4,f5,o1,o2,o3,o4,...,vht1,vht2,vht3,vht4,vht5,vmt1,vmt2,vmt3,vmt4,vmt5
count,20060.000000,20060.000000,20060.000000,20060.000000,20060.000000,20060.000000,20060.000000,20060.000000,20060.000000,20060.000000,...,20060.0,20060.0,20060.000000,20060.000000,20060.0,20060.0,20060.0,20060.000000,20060.000000,20060.000000
mean,291.103988,54.163609,84.574826,70.833250,69.290528,12.241775,6.211605,5.500419,3.978554,4.117233,...,0.0,0.0,0.000115,0.000140,0.0,0.0,0.0,0.073225,0.129606,0.004885
std,157.438133,38.872721,45.343029,37.082828,37.460699,10.081742,11.104481,3.876491,2.402457,2.523501,...,0.0,0.0,0.003384,0.004115,0.0,0.0,0.0,0.249533,0.314833,0.031688
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
25%,170.000000,18.000000,52.000000,46.000000,42.000000,4.000000,1.300000,2.700000,2.300000,2.300000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
50%,337.000000,55.000000,98.000000,81.000000,79.000000,11.000000,3.600000,5.700000,4.300000,4.400000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000
75%,416.000000,87.000000,121.000000,99.000000,99.000000,18.000000,5.800000,7.700000,5.600000,5.800000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.100000,0.000000
max,625.000000,160.000000,244.000000,143.000000,150.000000,97.000000,94.200000,62.600000,22.200000,19.600000,...,0.0,0.0,0.100000,0.300000,0.0,0.0,0.0,6.200000,6.100000,2.200000

### 1.3 Construct Variables

In [238]:
# Delecting the records whose f1 = 0, f2 = 0 or f3 = 0
data_up = data_up[(data_up['f1']!=0) & (data_up['f2']!=0) & (data_up['f3']!=0) & (data_up['f4']!=0) & (data_up['f5']!=0)]

data_up.describe()
# f5 is zero during the entire Jan in 400m_5lanes. So the iteration should be corrected below at the same time.

,f,f1,f2,f3,f4,f5,o1,o2,o3,o4,...,vht1,vht2,vht3,vht4,vht5,vmt1,vmt2,vmt3,vmt4,vmt5
count,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,...,16668.0,16668.0,16668.000000,16668.00000,16668.0,16668.0,16668.0,16668.000000,16668.000000,16668.000000
mean,334.841793,64.448284,96.695884,80.700324,78.983261,14.014039,7.386609,6.314093,4.520620,4.671586,...,0.0,0.0,0.000114,0.00015,0.0,0.0,0.0,0.071094,0.129554,0.005154
std,121.834594,34.098844,34.035060,27.473928,28.649499,9.498130,11.814641,3.512286,2.008922,2.127057,...,0.0,0.0,0.003374,0.00431,0.0,0.0,0.0,0.238532,0.308361,0.033124
min,6.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000
25%,249.000000,37.000000,74.000000,62.000000,59.000000,7.000000,2.500000,4.000000,3.200000,3.200000,...,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000
50%,360.000000,66.000000,105.000000,86.000000,85.000000,12.000000,4.300000,6.300000,4.600000,4.800000,...,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.000000,0.000000
75%,428.000000,92.000000,123.000000,101.000000,101.000000,19.000000,6.400000,8.000000,5.700000,5.900000,...,0.0,0.0,0.000000,0.00000,0.0,0.0,0.0,0.000000,0.100000,0.000000
max,625.000000,160.000000,244.000000,141.000000,150.000000,97.000000,94.200000,62.600000,22.200000,19.600000,...,0.0,0.0,0.100000,0.30000,0.0,0.0,0.0,6.200000,6.100000,2.200000

In [239]:
# Spliting the data into three dataframes for lane1, lane2, lane3 and lane4
lane1list = ['t']+[col for col in data_up.columns if '1' in col]
data1 = data_up[lane1list]
lane2list = ['t']+[col for col in data_up.columns if '2' in col]
data2 = data_up[lane2list]
lane3list = ['t']+[col for col in data_up.columns if '3' in col]
data3 = data_up[lane3list]
lane4list = ['t']+[col for col in data_up.columns if '4' in col]
data4 = data_up[lane4list]
lane5list = ['t']+[col for col in data_up.columns if '5' in col]
data5 = data_up[lane5list]

data1.head()

                    t  f1   o1    s1  s_do1  tf1  tp1  vht1  vmt1
1 2017-01-08 00:05:00  28  1.2  78.4   74.6    0    0     0     0
2 2017-01-08 00:10:00  25  1.1  79.1   74.9    0    0     0     0
3 2017-01-08 00:15:00  37  2.0  79.8   73.8    0    0     0     0
4 2017-01-08 00:20:00  36  2.0  79.8   73.9    0    0     0     0
5 2017-01-08 00:25:00  29  1.3  80.0   74.1    0    0     0     0

In [240]:
# Change the key of every dataframe for iteration later.
variables = ['t','f','o','s','s_do','tf','tp','vht','vmt']
data1.columns = variables
data2.columns = variables
data3.columns = variables
data4.columns = variables
data5.columns = variables
data1.loc[:,'s2'] = data2.loc[:,'s']
# Because lane2 is adjacent to lane1 and lane3 at the same time
data2.loc[:,'s1'] = data1.loc[:,'s']
data2.loc[:,'s3'] = data3.loc[:,'s']
data3.loc[:,'s2'] = data2.loc[:,'s']
data3.loc[:,'s4'] = data4.loc[:,'s']
data4.loc[:,'s3'] = data3.loc[:,'s']
data4.loc[:,'s5'] = data5.loc[:,'s']
data5.loc[:,'s4'] = data4.loc[:,'s']

data2.head()

E:\Anaconda3\lib\site-packages\pandas\core\indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
E:\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

                    t   f    o     s  s_do  tf  tp  vht  vmt    s1    s3
1 2017-01-08 00:05:00  84  4.4  69.2  70.8   0   0    0    0  78.4  73.7
2 2017-01-08 00:10:00  85  4.5  67.8  71.2   0   0    0    0  79.1  74.5
3 2017-01-08 00:15:00  92  5.5  63.1  69.9   0   0    0    0  79.8  70.1
4 2017-01-08 00:20:00  90  5.7  59.0  70.1   0   0    0    0  79.8  70.8
5 2017-01-08 00:25:00  83  5.1  57.9  70.2   0   0    0    0  80.0  71.8

In [241]:
# use dummy variablesS
for lanedata in [data1, data2, data3, data4, data5]:
    # ln(speed)
    lanedata.loc[:,'lns'] = lanedata['s'].map(lambda x: math.log(x))
    # truck speed
    lanedata.loc[:,'ts'] = 999
    lanedata.loc[lanedata['vht']!=0, 'ts'] =  lanedata['vmt']/lanedata['vht']
#     lanedata['ts'] = lanedata.apply(lambda x: 999.0 if x['vht'] == 0 else x['vmt']/x['vht'], axis = 1) 
#     '''axis : {0 or ‘index’, 1 or ‘columns’}, default 0
#         Axis along which the function is applied:
#         0 or ‘index’: apply function to each column.
#         1 or ‘columns’: apply function to each row.'''
    # traffic flow indicator and high truck flow indicator
    lanedata.loc[:,'fi'] = 0
    lanedata.loc[:,'htfi'] = 0
    lanedata.loc[lanedata['f']<75, 'fi'] = 1
    lanedata.loc[lanedata['tf']>100, 'htfi'] = 1
    # relative truck percentage indicator
    lanedata.loc[:,'tpia'] = 0
    lanedata.loc[:,'tpib'] = 0
    lanedata.loc[(lanedata['tp']>0.6)&(lanedata['f']<50), 'tpia'] = 1
    lanedata.loc[(lanedata['tp']<=0.2)&(lanedata['f']>200), 'tpib'] = 1
    # seasonal indicator (fall will be reference)
    lanedata.loc[:,'seasona'] = 0
    lanedata.loc[:,'seasonb'] = 0
    lanedata.loc[:,'seasonc'] = 0
    lanedata.loc[(2<lanedata['t'].dt.month) & (lanedata['t'].dt.month<6), 'seasona'] = 1 # Spring
    lanedata.loc[(5<lanedata['t'].dt.month) & (lanedata['t'].dt.month<9), 'seasonb'] = 1
    lanedata.loc[(8<lanedata['t'].dt.month) & (lanedata['t'].dt.month<12), 'seasonc'] = 1
    # time-of-week indicator
    lanedata.loc[:,'weeka'] = 0
    lanedata.loc[:,'weekb'] = 0
    lanedata.loc[:,'weekc'] = 0
    lanedata.loc[:,'weekd'] = 0
    lanedata.loc[:,'weeke'] = 0
    lanedata.loc[:,'weekf'] = 0
    lanedata.loc[lanedata['t'].dt.weekday==0, 'weeka'] = 1 # Monday
    lanedata.loc[lanedata['t'].dt.weekday==1, 'weekb'] = 1
    lanedata.loc[lanedata['t'].dt.weekday==2, 'weekc'] = 1
    lanedata.loc[lanedata['t'].dt.weekday==3, 'weekd'] = 1
    lanedata.loc[lanedata['t'].dt.weekday==4, 'weeke'] = 1
    lanedata.loc[lanedata['t'].dt.weekday==5, 'weekf'] = 1
    # time-of-day indicator
    lanedata['hour'] = lanedata['t'].dt.hour
    lanedata.loc[:,'toda'] = 0
    lanedata.loc[:,'todb'] = 0
    lanedata.loc[:,'todc'] = 0
    lanedata.loc[:,'todd'] = 0
    lanedata.loc[(0<lanedata['t'].dt.hour) & (lanedata['t'].dt.hour<6), 'toda'] = 1 # midnight to 6 am
    lanedata.loc[(7<lanedata['t'].dt.hour) & (lanedata['t'].dt.hour<9), 'todb'] = 1 # am peak
    lanedata.loc[(17<lanedata['t'].dt.hour) & (lanedata['t'].dt.hour<19), 'todc'] = 1 # pm peak
    lanedata.loc[(19<lanedata['t'].dt.hour) & (lanedata['t'].dt.hour<24), 'todd'] = 1 # night time
    
# ratio of flows in current lane to adjacent lanes
data1.loc[:,'fratio'] = data1['f']/data2['f']
# Use the average of the flow ratios with lane1 and lane3 as the ultimate flow ratio in lane2
# data2.loc[:,'fratio'] = (data2['f']/data1['f']+data2['f']/data3['f']) 
# data2.loc[:,'fratio3'] = data2['f']/data3['f']
data5.loc[:,'fratio'] = data5['f']/data4['f']

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [242]:
''' This block is used to determine the speed of lane2 is influenced by which lane (lan1 or lane3),
and the criterion is the flow ratio between lane 2 and lane1 and the flow ratio between lane 2 and lane3.
Bigger one will be dorminating!'''
# lane2
data2.loc[:,'fratio1'] = data2['f']/data1['f']
data2.loc[:,'fratio3'] = data2['f']/data3['f']
data2.loc[:,'flag'] = 0
data2.loc[data2['fratio1']<data2['fratio3'], 'flag'] = 1 # using '<' recieves better result?
data2.loc[:,'fratio'] = 0
data2.loc[data2['flag']==1,'fratio'] = data2['fratio1']
data2.loc[data2['flag']==0,'fratio'] = data2['fratio3']
# consrtuting the instruments and endogeneity dataframe for lane2
data2_instru = data1[['t','o','f','ts','fi','s_do','s']]
data2_instru.loc[data2['flag']==0,['o','f','ts','fi','s_do','s']] = data3.loc[data2['flag']==0,['o','f','ts','fi','s_do','s']]

data2_instru.loc[:,'fratio'] = 0
data2_instru.loc[:,'fratio'] = data2.loc[:,'fratio']

# lane3
data3.loc[:,'fratio2'] = data3['f']/data2['f']
data3.loc[:,'fratio4'] = data3['f']/data4['f']
data3.loc[:,'flag'] = 0
data3.loc[data3['fratio2']<data3['fratio4'], 'flag'] = 1 # using '<' recieves better result?
data3.loc[:,'fratio'] = 0
data3.loc[data3['flag']==1,'fratio'] = data3['fratio2']
data3.loc[data3['flag']==0,'fratio'] = data3['fratio4']
# consrtuting the instruments and endogeneity dataframe for lane2
data3_instru = data2[['t','o','f','ts','fi','s_do','s']]
data3_instru.loc[data3['flag']==0,['o','f','ts','fi','s_do','s']] = data4.loc[data3['flag']==0,['o','f','ts','fi','s_do','s']]

data3_instru.loc[:,'fratio'] = 0
data3_instru.loc[:,'fratio'] = data3.loc[:,'fratio']

# lane4
data4.loc[:,'fratio3'] = data4['f']/data3['f']
data4.loc[:,'fratio5'] = data4['f']/data5['f']
data4.loc[:,'flag'] = 0
data4.loc[data4['fratio3']<data4['fratio5'], 'flag'] = 1 # using '<' recieves better result?
data4.loc[:,'fratio'] = 0
data4.loc[data4['flag']==1,'fratio'] = data4['fratio3']
data4.loc[data4['flag']==0,'fratio'] = data4['fratio5']
# consrtuting the instruments and endogeneity dataframe for lane2
data4_instru = data3[['t','o','f','ts','fi','s_do','s']]
data4_instru.loc[data4['flag']==0,['o','f','ts','fi','s_do','s']] = data5.loc[data4['flag']==0,['o','f','ts','fi','s_do','s']]

data4_instru.loc[:,'fratio'] = 0
data4_instru.loc[:,'fratio'] = data4.loc[:,'fratio']

In [243]:
data4_instru.describe()

,o,f,ts,fi,s_do,s,fratio
count,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000
mean,4.520614,80.700504,997.912287,0.353852,61.642375,67.483195,0.987250
std,2.008936,27.473415,32.202336,0.478178,4.623470,6.735729,0.217064
min,0.000000,1.000000,14.000000,0.000000,32.100000,20.500000,0.019608
25%,3.200000,62.000000,999.000000,0.000000,59.400000,64.475000,0.873527
50%,4.600000,86.000000,999.000000,0.000000,62.500000,68.700000,0.976190
75%,5.700000,101.000000,999.000000,1.000000,65.000000,71.700000,1.084137
max,22.200000,141.000000,999.000000,1.000000,71.600000,82.000000,9.000000

In [244]:
data1[['o','f','ts','fi','fratio','s_do','s']].describe()

,o,f,ts,fi,fratio,s_do,s
count,16668.000000,16668.000000,16668.0,16668.000000,16668.000000,16668.000000,16668.000000
mean,7.386609,64.448284,999.0,0.576674,0.647443,70.690749,64.670476
std,11.814641,34.098844,0.0,0.494101,0.413749,3.756463,20.453339
min,0.000000,1.000000,999.0,0.000000,0.006944,46.300000,3.000000
25%,2.500000,37.000000,999.0,0.000000,0.478617,68.900000,61.200000
50%,4.300000,66.000000,999.0,1.000000,0.663967,71.500000,72.200000
75%,6.400000,92.000000,999.0,1.000000,0.800000,73.400000,76.600000
max,94.200000,160.000000,999.0,1.000000,26.000000,80.000000,86.500000

In [245]:
# data1['fratio'] = data1['f']/data2['f']
# data1 = data1.dropna()
data1.dtypes

t          datetime64[ns]
f                   int64
o                 float64
s                 float64
s_do              float64
tf                  int64
tp                  int64
vht                 int64
vmt                 int64
s2                float64
lns               float64
ts                float64
fi                  int64
htfi                int64
tpia                int64
tpib                int64
seasona             int64
seasonb             int64
seasonc             int64
weeka               int64
weekb               int64
weekc               int64
weekd               int64
weeke               int64
weekf               int64
hour                int64
toda                int64
todb                int64
todc                int64
todd                int64
fratio            float64
dtype: object

## 2 Prediction

### 2.1 Error Examination

In [246]:
# data1[['f','fratio']] = data1[['f','fratio']].infer_objects()
# data2[['f','fratio']] = data2[['f','fratio']].infer_objects()
''' Because when run the next code block, there is erro coming up: data must be numeric, string and categorical.
And the error come from other_var.
And after use data1[other_var].dtypes to visit the data type of all indexs in other_var, found the 'f' and 'fratio'
are (object). So in order to solve this problem, use dataframe.infer_objects to change the data type from object 
to int and float, respectively.
'''

" Because when run the next code block, there is erro coming up: data must be numeric, string and categorical.\nAnd the error come from other_var.\nAnd after use data1[other_var].dtypes to visit the data type of all indexs in other_var, found the 'f' and 'fratio'\nare (object). So in order to solve this problem, use dataframe.infer_objects to change the data type from object \nto int and float, respectively.\n"

In [247]:
np.linalg.matrix_rank(data1[['o','f','ts','fi','fratio']])

5

In [248]:
# def mean_absolute_percentage_error(y_true, y_pred): 
#     y_true, y_pred = np.array(y_true), np.array(y_pred)
#     return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

### 2.2 Predicting Used New Method (including downstream speed)

In [249]:
# 'exog' and 'endog' and 'instruments' cannot overlap to each other
error_result_new = pd.DataFrame(columns=['MAE1','MAE2','MAE3','MAE4','MAE5'])
speed_new1 = pd.DataFrame()
speed_new2 = pd.DataFrame()
speed_new3 = pd.DataFrame()
speed_new4 = pd.DataFrame()
speed_new5 = pd.DataFrame()
for month in range(12): # f5 is zero during the entire Jan in 400m_5lanes. So the iteration should be corrected at the same time. change to(2,11)
    data1_test = data1[data1['t'].dt.month == month+1]
    data1_train = data1[data1['t'].dt.month != month+1]
    data2_test = data2[data2['t'].dt.month == month+1]
    data2_train = data2[data2['t'].dt.month != month+1]
    data3_test = data3[data3['t'].dt.month == month+1]
    data3_train = data3[data3['t'].dt.month != month+1]
    data4_test = data4[data4['t'].dt.month == month+1]
    data4_train = data4[data4['t'].dt.month != month+1]
    data5_test = data5[data5['t'].dt.month == month+1]
    data5_train = data5[data5['t'].dt.month != month+1]
    
    data2_instru_test = data2_instru[data2_instru['t'].dt.month == month+1]
    data2_instru_train = data2_instru[data2_instru['t'].dt.month != month+1]
    data3_instru_test = data3_instru[data3_instru['t'].dt.month == month+1]
    data3_instru_train = data3_instru[data3_instru['t'].dt.month != month+1]
    data4_instru_test = data4_instru[data4_instru['t'].dt.month == month+1]
    data4_instru_train = data4_instru[data4_instru['t'].dt.month != month+1]
    
    other_var = ['seasona', 'seasonb', 'seasonc', 'weeka', 'weekb', 'weekc', 'weekd', 'weeke', 'weekf', 'toda', 'todb', 'todc', 'todd']
    instruments = ['o', 'f',  'ts', 'fi', 'fratio']
    data1_train.rename(columns={'s':'s1', 's_do':'s_do1'}, inplace=True)
    data2_train.rename(columns={'s':'s2', 's_do':'s_do2'}, inplace=True)
    data3_train.rename(columns={'s':'s3', 's_do':'s_do3'}, inplace=True)
    data4_train.rename(columns={'s':'s4', 's_do':'s_do4'}, inplace=True)
    data5_train.rename(columns={'s':'s5', 's_do':'s_do5'}, inplace=True)
#     exo_var = instruments+other_var

    u1 = {'dependent': data1_train[['s1']],
         'exog': data1_train[other_var+['s_do1']],
         'endog': data1_train[['s2']],
         'instruments': data2_train[instruments+['s_do2']]}

    u2 = {'dependent': data2_train[['s2']],
         'exog': data2_train[other_var+['s_do2']],
         'endog': data2_instru_train[['s']],
         'instruments': data2_instru_train[instruments+['s_do']]}
    
    u3 = {'dependent': data3_train[['s3']],
         'exog': data3_train[other_var+['s_do3']],
         'endog': data3_instru_train[['s']],
         'instruments': data3_instru_train[instruments+['s_do']]}
    
    u4 = {'dependent': data4_train[['s4']],
         'exog': data4_train[other_var+['s_do4']],
         'endog': data4_instru_train[['s']],
         'instruments': data4_instru_train[instruments+['s_do']]}
    
    u5 = {'dependent': data5_train[['s5']],
         'exog': data5_train[other_var+['s_do5']],
         'endog': data5_train[['s4']],
         'instruments': data4_train[instruments+['s_do4']]}
    
    equations = dict(u1=u1, u2=u2, u3=u3, u4=u4, u5=u5)
    system_3sls = IV3SLS(equations)
    system_3sls_res = system_3sls.fit(method='gls', cov_type='unadjusted')
#     print(system_3sls_res)
    # system_3sls_pre = system_3sls.predict(params = system_3sls_res.params, equations = equations)
    # print(system_3sls_pre)
    
    data1_test.rename(columns={'s':'s1', 's_do':'s_do1'}, inplace=True)
    data2_test.rename(columns={'s':'s2', 's_do':'s_do2'}, inplace=True)
    data3_test.rename(columns={'s':'s3', 's_do':'s_do3'}, inplace=True)
    data4_test.rename(columns={'s':'s4', 's_do':'s_do4'}, inplace=True)
    data5_test.rename(columns={'s':'s5', 's_do':'s_do5'}, inplace=True)
    
    u1_test = {'dependent': data1_test[['s1']],
         'exog': data1_test[other_var+['s_do1']],
         'endog': data1_test[['s2']],
         'instruments': data2_test[instruments+['s_do2']]}

    u2_test = {'dependent': data2_test[['s2']],
         'exog': data2_test[other_var+['s_do2']],
         'endog': data2_instru_test[['s']],
         'instruments': data2_instru_test[instruments+['s_do']]}
    
    u3_test = {'dependent': data3_test[['s3']],
         'exog': data3_test[other_var+['s_do3']],
         'endog': data3_instru_test[['s']],
         'instruments': data3_instru_test[instruments+['s_do']]}
    
    u4_test = {'dependent': data4_test[['s4']],
         'exog': data4_test[other_var+['s_do4']],
         'endog': data4_instru_test[['s']],
         'instruments': data4_instru_test[instruments+['s_do']]}
    
    u5_test = {'dependent': data5_test[['s5']],
         'exog': data5_test[other_var+['s_do5']],
         'endog': data5_test[['s4']],
         'instruments': data4_test[instruments+['s_do4']]}
    
    equations_test = dict(u1=u1_test, u2=u2_test, u3=u3_test, u4=u4_test, u5=u5_test)
    system_3sls_pre = system_3sls.predict(params = system_3sls_res.params, equations = equations_test)
    # system_3sls_pre.describe()
    
    # from sklearn.metrics import mean_squared_error as mse
    from sklearn.metrics import mean_absolute_error as mae
    y_true1 = data1_test['s1']
    y_pred1 = system_3sls_pre['u1']
    y_true2 = data2_test['s2']
    y_pred2 = system_3sls_pre['u2']
    y_true3 = data3_test['s3']
    y_pred3 = system_3sls_pre['u3']
    y_true4 = data4_test['s4']
    y_pred4 = system_3sls_pre['u4']
    y_true5 = data4_test['s5']
    y_pred5 = system_3sls_pre['u5']
    # print(mse(y_true, y_pred))
#     print(mae(y_true, y_pred))
#     print(mean_absolute_percentage_error(y_true, y_pred))
    error_result_new.loc[month,'MAE1'] = mae(y_true1, y_pred1)
    error_result_new.loc[month,'MAE2'] = mae(y_true2, y_pred2)
    error_result_new.loc[month,'MAE3'] = mae(y_true3, y_pred3)
    error_result_new.loc[month,'MAE4'] = mae(y_true4, y_pred4)
    error_result_new.loc[month,'MAE5'] = mae(y_true5, y_pred5)
    speed_new1 = pd.concat([speed_new1,y_pred1])
    speed_new2 = pd.concat([speed_new2,y_pred2])
    speed_new3 = pd.concat([speed_new3,y_pred3])
    speed_new4 = pd.concat([speed_new4,y_pred4])
    speed_new5 = pd.concat([speed_new5,y_pred5])
#     speed_new1['new1'] = speed_new1['new1'].append(y_pred1) # this command results in a result of a month only.

E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

### 2.3 Predicting Used Old Method (not including downstream speed)

In [250]:
# 'exog' and 'endog' and 'instruments' cannot overlap to each other
error_result_old = pd.DataFrame(columns=['MAE1','MAE2','MAE3','MAE4','MAE5'])
speed_old1 = pd.DataFrame()
speed_old2 = pd.DataFrame()
speed_old3 = pd.DataFrame()
speed_old4 = pd.DataFrame()
speed_old5 = pd.DataFrame()
for month in range(12):
    data1_test = data1[data1['t'].dt.month == month+1]
    data1_train = data1[data1['t'].dt.month != month+1]
    data2_test = data2[data2['t'].dt.month == month+1]
    data2_train = data2[data2['t'].dt.month != month+1]
    data3_test = data3[data3['t'].dt.month == month+1]
    data3_train = data3[data3['t'].dt.month != month+1]
    data4_test = data4[data4['t'].dt.month == month+1]
    data4_train = data4[data4['t'].dt.month != month+1]
    data5_test = data5[data5['t'].dt.month == month+1]
    data5_train = data5[data5['t'].dt.month != month+1]
    
    data2_instru_test = data2_instru[data2_instru['t'].dt.month == month+1]
    data2_instru_train = data2_instru[data2_instru['t'].dt.month != month+1]
    data3_instru_test = data3_instru[data3_instru['t'].dt.month == month+1]
    data3_instru_train = data3_instru[data3_instru['t'].dt.month != month+1]
    data4_instru_test = data4_instru[data4_instru['t'].dt.month == month+1]
    data4_instru_train = data4_instru[data4_instru['t'].dt.month != month+1]
    
    other_var = ['seasona', 'seasonb', 'seasonc', 'weeka', 'weekb', 'weekc', 'weekd', 'weeke', 'weekf', 'toda', 'todb', 'todc', 'todd']
    instruments = ['o', 'f',  'ts', 'fi', 'fratio']
    data1_train.rename(columns={'s':'s1', 's_do':'s_do1'}, inplace=True)
    data2_train.rename(columns={'s':'s2', 's_do':'s_do2'}, inplace=True)
    data3_train.rename(columns={'s':'s3', 's_do':'s_do3'}, inplace=True)
    data4_train.rename(columns={'s':'s4', 's_do':'s_do4'}, inplace=True)
    data5_train.rename(columns={'s':'s5', 's_do':'s_do5'}, inplace=True)
#     exo_var = instruments+other_var

    u1 = {'dependent': data1_train[['s1']],
         'exog': data1_train[other_var],
         'endog': data1_train[['s2']],
         'instruments': data2_train[instruments]}

    u2 = {'dependent': data2_train[['s2']],
         'exog': data2_train[other_var],
         'endog': data2_instru_train[['s']],
         'instruments': data2_instru_train[instruments]}
    
    u3 = {'dependent': data3_train[['s3']],
         'exog': data3_train[other_var],
         'endog': data3_instru_train[['s']],
         'instruments': data3_instru_train[instruments]}
    
    u4 = {'dependent': data4_train[['s4']],
         'exog': data4_train[other_var],
         'endog': data4_instru_train[['s']],
         'instruments': data4_instru_train[instruments]}
    
    u5 = {'dependent': data5_train[['s5']],
         'exog': data5_train[other_var],
         'endog': data5_train[['s4']],
         'instruments': data4_train[instruments]}
    
    equations = dict(u1=u1, u2=u2, u3=u3, u4=u4, u5=u5)
    system_3sls = IV3SLS(equations)
    system_3sls_res = system_3sls.fit(method='gls', cov_type='unadjusted')
#     print(system_3sls_res)
    # system_3sls_pre = system_3sls.predict(params = system_3sls_res.params, equations = equations)
    # print(system_3sls_pre)
    
    data1_test.rename(columns={'s':'s1', 's_do':'s_do1'}, inplace=True)
    data2_test.rename(columns={'s':'s2', 's_do':'s_do2'}, inplace=True)
    data3_test.rename(columns={'s':'s3', 's_do':'s_do3'}, inplace=True)
    data4_test.rename(columns={'s':'s4', 's_do':'s_do4'}, inplace=True)
    data5_test.rename(columns={'s':'s5', 's_do':'s_do5'}, inplace=True)
    
    u1_test = {'dependent': data1_test[['s1']],
         'exog': data1_test[other_var],
         'endog': data1_test[['s2']],
         'instruments': data2_test[instruments]}

    u2_test = {'dependent': data2_test[['s2']],
         'exog': data2_test[other_var],
         'endog': data2_instru_test[['s']],
         'instruments': data2_instru_test[instruments]}
    
    u3_test = {'dependent': data3_test[['s3']],
         'exog': data3_test[other_var],
         'endog': data3_instru_test[['s']],
         'instruments': data3_instru_test[instruments]}
    
    u4_test = {'dependent': data4_test[['s4']],
         'exog': data4_test[other_var],
         'endog': data4_instru_test[['s']],
         'instruments': data4_instru_test[instruments]}
    
    u5_test = {'dependent': data5_test[['s5']],
         'exog': data5_test[other_var],
         'endog': data5_test[['s4']],
         'instruments': data4_test[instruments]}
    
    equations_test = dict(u1=u1_test, u2=u2_test, u3=u3_test, u4=u4_test, u5=u5_test)
    system_3sls_pre = system_3sls.predict(params = system_3sls_res.params, equations = equations_test)
    # system_3sls_pre.describe()
    
    # from sklearn.metrics import mean_squared_error as mse
    from sklearn.metrics import mean_absolute_error as mae
    y_true1 = data1_test['s1']
    y_pred1 = system_3sls_pre['u1']
    y_true2 = data2_test['s2']
    y_pred2 = system_3sls_pre['u2']
    y_true3 = data3_test['s3']
    y_pred3 = system_3sls_pre['u3']
    y_true4 = data4_test['s4']
    y_pred4 = system_3sls_pre['u4']
    y_true5 = data4_test['s5']
    y_pred5 = system_3sls_pre['u5']
    # print(mse(y_true, y_pred))
#     print(mae(y_true, y_pred))
#     print(mean_absolute_percentage_error(y_true, y_pred))
    error_result_old.loc[month,'MAE1'] = mae(y_true1, y_pred1)
    error_result_old.loc[month,'MAE2'] = mae(y_true2, y_pred2)
    error_result_old.loc[month,'MAE3'] = mae(y_true3, y_pred3)
    error_result_old.loc[month,'MAE4'] = mae(y_true4, y_pred4)
    error_result_old.loc[month,'MAE5'] = mae(y_true5, y_pred5)
    speed_old1 = pd.concat([speed_old1,y_pred1])
    speed_old2 = pd.concat([speed_old2,y_pred2])
    speed_old3 = pd.concat([speed_old3,y_pred3])
    speed_old4 = pd.concat([speed_old4,y_pred4])
    speed_old5 = pd.concat([speed_old5,y_pred5])
#     speed_new1['new1'] = speed_new1['new1'].append(y_pred1) # this command results in a result of a month only.

E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
E:\Anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

### 2.4 Result Exporting

In [251]:
# speed_new1.columns = ['new1']
# speed_new2.columns = ['new2']
# speed_new3.columns = ['new3']
# speed_new4.columns = ['new4']
# speed_new5.columns = ['new5']
# speed_old1.columns = ['old1']
# speed_old2.columns = ['old2']
# speed_old3.columns = ['old3']
# speed_old4.columns = ['old4']
# speed_old5.columns = ['old5']

In [252]:
speed = speed_new1
speed['new2'] = speed_new2
speed['new3'] = speed_new3
speed['new4'] = speed_new4
speed['new5'] = speed_new5
speed['old1'] = speed_old1
speed['old2'] = speed_old2
speed['old3'] = speed_old3
speed['old4'] = speed_old4
speed['old5'] = speed_old5
speed['observed1'] = data1['s']
speed['observed2'] = data2['s']
speed['observed3'] = data3['s']
speed['observed4'] = data4['s']
speed['observed5'] = data5['s']
speed.rename(columns={0: 'new1'}, inplace=True)
speed.describe()

,new1,new2,new3,new4,new5,old1,old2,old3,old4,old5,observed1,observed2,observed3,observed4,observed5
count,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000,16668.000000
mean,64.496306,61.990108,67.505423,64.229363,64.072009,64.603622,61.800622,67.196980,64.098601,63.933192,64.670476,61.731671,67.490503,64.110217,64.123254
std,10.214023,6.946839,5.287187,4.719670,3.233761,13.749897,9.640409,12.378885,6.445296,6.963269,20.453339,12.026375,6.736497,7.242181,1.708425
min,17.961056,23.918665,33.771744,35.489627,45.861120,7.713629,3.647834,16.128276,20.015558,17.668731,3.000000,13.000000,20.500000,19.000000,37.300000
25%,57.969603,58.047575,65.013296,61.885702,62.445443,55.632527,57.428840,59.724225,60.947581,60.571405,61.200000,53.500000,64.500000,60.500000,64.000000
50%,65.745640,62.138310,68.427192,65.114072,64.428080,66.379947,62.549066,68.540767,65.231434,64.812447,72.200000,63.300000,68.700000,65.700000,64.400000
75%,71.958841,66.707794,70.937859,67.407508,66.110739,74.767276,67.903455,75.911127,68.333921,68.260988,76.600000,72.000000,71.800000,68.900000,64.700000
max,89.961722,77.894205,79.310513,74.825985,83.969767,100.301831,87.271257,98.319795,79.651116,82.840948,86.500000,84.000000,82.000000,79.200000,66.700000

In [253]:
error_result = pd.DataFrame()
error_result['MAE_new1'] = error_result_new['MAE1']
error_result['MAE_new2'] = error_result_new['MAE2']
error_result['MAE_new3'] = error_result_new['MAE3']
error_result['MAE_new4'] = error_result_new['MAE4']
error_result['MAE_new5'] = error_result_new['MAE5']
error_result['MAE_old1'] = error_result_old['MAE1']
error_result['MAE_old2'] = error_result_old['MAE2']
error_result['MAE_old3'] = error_result_old['MAE3']
error_result['MAE_old4'] = error_result_old['MAE4']
error_result['MAE_old5'] = error_result_old['MAE5']
error_result

,MAE_new1,MAE_new2,MAE_new3,MAE_new4,MAE_new5,MAE_old1,MAE_old2,MAE_old3,MAE_old4,MAE_old5
0,16.152,8.13449,3.87647,4.29949,2.4759,17.0827,9.57589,9.84127,5.75731,5.18096
1,13.1441,6.31594,3.5699,3.49936,2.36769,14.5211,7.68468,7.99941,5.05445,4.7275
2,15.3869,10.1469,3.1591,3.28851,1.96641,15.3649,10.698,11.5369,3.60119,5.272
3,20.4838,8.60654,3.23203,3.31955,2.22379,20.6088,9.75812,10.7043,4.3329,4.6578
4,18.6687,8.84013,3.43324,4.19873,2.43799,19.9159,9.38449,10.2797,4.82357,5.96314
5,9.47586,6.58255,3.59854,3.50919,2.79646,9.47514,8.16096,8.76858,4.55042,4.89104
6,7.30145,5.61694,3.33173,3.84916,2.34624,8.28405,7.36612,7.07293,5.05018,5.43924
7,7.59524,5.77539,3.01215,3.21513,2.39037,8.62953,7.50318,6.97949,4.75201,4.30653
8,13.0626,6.87081,3.88541,3.35733,2.33367,12.7312,8.96219,8.94818,4.59065,4.47319
9,12.9545,6.72444,2.92494,2.86489,2.0173,13.8803,7.56777,8.15085,3.62057,4.1638
10,20.3181,7.489,3.60439,3.12001,2.24491,21.0087,8.48746,9.31155,4.90603,4.21743
11,19.4029,5.41905,3.01961,3.41226,2.62242,19.1572,7.54818,7.18619,4.24708,4.44057

In [254]:
speed.to_excel('G:\\Modeling Endogeneity\\Results\\100m_5lanes_speed.xlsx')
error_result.to_excel('G:\\Modeling Endogeneity\\Results\\100m_5lanes_error.xlsx')
data_up[['f1','f2','f3','f4','f5']].to_excel('G:\\Modeling Endogeneity\\Results\\100m_5lanes_flow.xlsx')